* {
  margin: 0;
  padding: 0;
}
.bg-container {
  background-color: #07080c;
  color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.title {
  font-size: 48px;
  margin-bottom: 10px;
}
.img {
  height: 360px;
}
.speed-read {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.speed-limit {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #cbd5e1;
}
.button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 6px;
  border-radius: 8px;
}
.btn1 {
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px solid #0b69ff;
  margin-left: 10px;
  margin-right: 25px;
}
.btn2 {
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  margin-left: 25px;
  margin-right: 10px;
}
